In [2]:
import numpy as np
import pandas as pd
from datetime import datetime
from collections import Counter
from itertools import combinations

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1552,tt0433416,12000000,20138836,The Namesake,Kal Penn|Tabu|Irrfan Khan|Sahira Nair|Jacinda ...,Mira Nair,Two Worlds. One Journey.,"American-born Gogol, the son of Indian immigra...",122,Drama,Fox Searchlight Pictures|Mirabai Films,9/2/2006,7.0,2006
88,tt2404425,11000000,61619773,Woman in Gold,Helen Mirren|Ryan Reynolds|Tatiana Maslany|Kat...,Simon Curtis,Justice is Priceless.,"Maria Altmann, an octogenarian Jewish refugee,...",120,Drama,BBC Films|Origin Pictures,4/10/2015,7.3,2015
1457,tt0397313,40000000,120455994,Eight Below,Paul Walker|Bruce Greenwood|Moon Bloodgood|Jas...,Frank Marshall,"The Most Amazing Story Of Survival, Friendship...","In the Antarctic, after an expedition with Dr....",120,Adventure|Drama|Family,Walt Disney Pictures|Spyglass Entertainment|Ve...,2/17/2006,6.6,2006

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {}  # создадим словарь для накопления ответов

# ниже приведены другие предобработки колонок, а именно:
# вставка дополнительной колонки "прибыль"

data['profit'] = data.revenue - data.budget 

# вставка дополнительной колонки с номером месяца релиза фильма

data['month'] = [release_date.split('/')[0] for release_date in data.release_date]

# создание копии  изначального датафрейма для избежания ошибок воспроизведения

data_ini = data

In [88]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 16 columns):
imdb_id                 1889 non-null object
budget                  1889 non-null int64
revenue                 1889 non-null int64
original_title          1889 non-null object
cast                    1889 non-null object
director                1889 non-null object
tagline                 1889 non-null object
overview                1889 non-null object
runtime                 1889 non-null int64
genres                  1889 non-null object
production_companies    1889 non-null object
release_date            1889 non-null object
vote_average            1889 non-null float64
release_year            1889 non-null int64
profit                  1889 non-null int64
month                   1889 non-null object
dtypes: float64(1), int64(5), object(10)
memory usage: 236.2+ KB

# 1. У какого фильма из списка самый большой бюджет?

In [9]:
# здесь код для решения данного вопроса:
data[data.budget == max(data.budget)][['imdb_id', 'original_title', 'budget']]

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

In [10]:
# в словарь вставляем номер вопроса и ответ на него
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [11]:
# логика работы со словарем и написанием кода для получения ответа далее одинакова. 
# поэтому в дальнейшем комментарии не будут дублироваться.

# 2. Какой из фильмов самый длительный (в минутах)?

In [12]:
data[data.runtime == max(data.runtime)][['original_title', 'imdb_id', 'runtime']]

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

In [13]:
answers['2'] = '2. Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [14]:
data[data.runtime == min(data.runtime)][['original_title', 'imdb_id', 'runtime']]

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

In [15]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [16]:
data.runtime.mean()

109.6585494970884

In [17]:
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [18]:
data.runtime.median()

107.0

In [19]:
answers['5'] = '1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [20]:
data[data.profit == max(data.profit)][['original_title', 'imdb_id', 'profit']]

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

In [21]:
answers['6'] = '5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [22]:
data[data.profit == min(data.profit)][['original_title', 'imdb_id', 'profit']]

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

In [23]:
answers['7'] = '4. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [24]:
len(data[data.profit > 0])  # всего в датасете находится информация по 1889 фильмам.

1478

In [26]:
answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [27]:
list2008 = data[data.release_year == 2008]
list2008[list2008.revenue == max(list2008.revenue)][
    ['original_title', 'imdb_id', 'release_year', 'revenue']]

      original_title    imdb_id  release_year     revenue
599  The Dark Knight  tt0468569          2008  1001921825

In [28]:
answers['9'] = '4. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [29]:
worst = data[data.release_year.isin(range(2012, 2015))][
    ['original_title', 'imdb_id', 'release_year', 'profit']]
worst[worst.profit == min(worst.profit)]

       original_title    imdb_id  release_year     profit
1245  The Lone Ranger  tt1210819          2013 -165710090

In [30]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

ВАРИАНТ 1

In [31]:
data = data_ini
pd.Series(data.genres.str.cat(sep='|').split('|')).value_counts().head()

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
dtype: int64

ВАРИАНТ 2

In [32]:
pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts().head(1)

Drama    782
dtype: int64

In [33]:
answers['11'] = '3. Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

ВАРИАНТ 1

In [34]:
genres_profit = pd.Series(data[data.profit > 0].genres.str.cat(sep='|').split('|'))
genres_profit.value_counts().head(1)

Drama    560
dtype: int64

ВАРИАНТ 2

In [40]:
genres_profit = data[data.profit > 0].genres.str.split('|', expand=True).stack().value_counts()
genres_profit.head()

Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
dtype: int64

In [35]:
answers['12'] = '1. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

ВАРИАНТ 1

In [43]:
directors = set(data.director.str.cat(sep='|').split('|'))
income = {director: sum(data[data.director.str.contains(director)].revenue) 
            for director in directors}
pd.DataFrame.from_dict(income, orient='index', columns=['revenue']).nlargest(1, 'revenue')

                  revenue
Peter Jackson  6490593685

ВАРИАНТ 2

In [60]:
directors = data.groupby(['director'])['revenue'].sum()
directors.sort_values(ascending=False, inplace=True)
directors.head()

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

In [61]:
answers['13'] = '5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

ВАРИАНТ 1

In [45]:
data = data_ini
data = data[data.genres.str.contains('Action')][['director']]
directors = data.director.str.cat(sep='|').split('|')
pd.Series(directors).value_counts().head()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
dtype: int64

ВАРИАНТ 2

In [47]:
data = data_ini
data = data[data.genres.map(lambda x: 'Action' in x)][['director']]
directors = data.director.str.cat(sep='|').split('|')
pd.Series(directors).value_counts().head(3)

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
dtype: int64

In [48]:
answers['14'] = '3. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [62]:
data = data_ini
data_2012 = data[data.release_year == 2012]
cast = set(data_2012.cast.str.cat(sep='|').split('|'))
pd.Series({x: sum(data_2012[data_2012.cast.str.contains(x)].revenue) for x in cast}).nlargest()

Chris Hemsworth       2027450773
Denis Leary           1629460639
Anne Hathaway         1522851057
Scarlett Johansson    1519557910
Robert Downey Jr.     1519557910
dtype: int64

In [63]:
answers['15'] = '3. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [65]:
data = data_ini
pd.Series(data[data.budget > data.budget.mean()].cast.str.cat(sep='|').split('|')).value_counts().head()

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
dtype: int64

In [66]:
answers['16'] = '3. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [67]:
data = data_ini
genres = data[data.cast.str.contains('Nicolas Cage')].genres
pd.Series(genres.str.cat(sep='|').split('|')).value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Mystery             3
Animation           3
History             2
Romance             1
War                 1
Horror              1
dtype: int64

In [68]:
answers['17'] = '3. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [69]:
data = data_ini
paramount = data[data.production_companies.str.contains('Paramount Pictures')]
paramount[paramount.profit == min(paramount.profit)][['original_title', 'imdb_id']]

           original_title    imdb_id
925  K-19: The Widowmaker  tt0267626

In [70]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [71]:
data = data_ini
data.groupby('release_year').sum().sort_values('revenue', ascending=False).revenue.head()

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

In [72]:
answers['19'] = '5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [73]:
data = data_ini[['production_companies', 'release_year', 'profit']]
warner = data[data.production_companies.str.contains('Warner Bros')][['release_year', 'profit']]
warner.groupby('release_year').sum().nlargest(1, columns='profit')

                  profit
release_year
2014          2295464519

In [74]:
answers['20'] = '1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

ВАРИАНТ 1

In [78]:
# вспоминаем, что была сделана предобработка датасета

data = data_ini
data['month'].value_counts().head(1)

9    227
Name: month, dtype: int64

ВАРИАНТ 2

In [79]:
# в принципе, используя модуль datetime, можно было не делать предобработку

data = data_ini.release_date
months = data.apply(lambda x: datetime.strptime(x, '%m/%d/%Y').month)
months.value_counts().sort_values(ascending=False)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [80]:
answers['21'] = '4. сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [98]:
data = data_ini
c = Counter(data.month)
summer = 0
for k, v in c.items():
    if '5' < k < '9':
        summer += v
print(summer)

450

In [99]:
answers['22'] = '2. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [101]:
data = data_ini[['director', 'month']]
data = data[data.month.isin(['12', '1', '2'])]
pd.Series(data.director.str.cat(sep='|').split('|')).value_counts().head(1)

Peter Jackson    7
dtype: int64

In [102]:
answers['23'] = '5. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [112]:
# ответ дан по СРЕДНЕМУ количеству символов в названии, что не явно следует из вопроса

data = data_ini[['production_companies', 'original_title']]
data['title_len'] = data.original_title.apply(len)    # добавляем колонку с кол-вом символов в названии
studios = pd.Series(data.production_companies.str.cat(sep='|').split('|'))
pd.Series([data[data.production_companies.str.contains(studio)]['title_len'].mean()
           for studio in studios], index=studios).sort_values(ascending=False).head(3)

Four By Two Productions    83.0
Jim Henson Company, The    59.0
Dos Corazones              47.0
dtype: float64

In [113]:
answers['24'] = '5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [114]:
data = data_ini[['production_companies', 'overview']]
data['length'] = data.overview.apply(len)      # добавляем колонку с кол-вом символов в описании
studios = pd.Series(data.production_companies.str.cat(sep='|').split('|'))
mean_overview = pd.DataFrame(columns=['length'])
for studio in studios:
    mean_overview.loc[studio] = data[data.production_companies.str.contains(studio)].length.mean()
mean_overview.sort_values('length', ascending=False).head(3)

                                  length
Midnight Picture Show             1000.0
Room 9 Entertainment               964.0
Brookwell-McNamara Entertainment   936.0

In [115]:
answers['25'] = '3. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [116]:
data = data_ini[['original_title', 'vote_average']]
data.nlargest(int(len(data)/100), 'vote_average').sort_values('original_title')

                                     original_title  vote_average
1191                               12 Years a Slave           7.9
124                                      Big Hero 6           7.8
128                                       Gone Girl           7.9
119                         Guardians of the Galaxy           7.9
370                                       Inception           7.9
9                                        Inside Out           8.0
118                                    Interstellar           8.0
1800                                        Memento           7.9
34                                             Room           8.0
28                                        Spotlight           7.8
599                                 The Dark Knight           8.1
177                          The Fault in Our Stars           7.8
138                        The Grand Budapest Hotel           7.9
125                              The Imitation Game           8.0
1081  The Lord of the Rings: The Return of the King           7.9
872                                     The Pianist           7.9
155                        The Theory of Everything           7.8
1183                        The Wolf of Wall Street           7.9

In [117]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [122]:
data = data_ini[['cast']]
frequency = pd.Series()

for index, row in data.iterrows():
    actor = sorted(row[0].split('|'))
    pairs = ['|'.join(pair) for pair in combinations(actor, 2)]
    for pair in pairs:
        if pair in frequency.index:
            frequency[pair] += 1
        else:
            frequency[pair] = 1

frequency.sort_values(ascending=False)[:5]

Emma Watson|Rupert Grint            8
Daniel Radcliffe|Rupert Grint       8
Daniel Radcliffe|Emma Watson        8
Helena Bonham Carter|Johnny Depp    6
Ben Stiller|Owen Wilson             6
dtype: int64

In [123]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

# Submission

In [124]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '4. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '14': '3. Robert Rodriguez',
 '13': '5. Peter Jackson',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '3. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [125]:
# и убедиться что ни чего не пропустил)
len(answers)

27